@import "../../base/fn"

.weui-btn_primary
    background-color $weuiBtnPrimaryBg
    &:not(.weui-btn_disable):visited
        color $weuiBtnFontColor
    &:not(.weui-btn_disable):active
        color $weuiBtnActiveFontColor
        background-color $weuiBtnPrimaryActiveBg