* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
.plane-page {
  width: 100%;
  height: 100%;
  background-color: #ffd200;
  position: relative;
}
.plane-page .plane-wrapper {
  position: absolute;
  left: 20%;
  top: 40%;
  animation: undulate 8s linear infinite alternate;
  perspective: 2500px;
  transform: 1s;
}
.plane-page .plane-wrapper .plane {
  width: 100%;
}
.plane-page .rotate-container {
  position: absolute;
  top: 51.7003%;
  left: 13.1%;
  width: 27.424%;
  height: 14.447%;
  transform-origin: center center;
  animation: roating 0.2s linear infinite reverse;
}
.plane-page .rotate-container .propeller {
  width: 100%;
  transform: rotateY(-28deg);
}
@-moz-keyframes roating {
  0% {
    transform: rotateZ(0deg) rotateY(-28deg);
  }
  50% {
    transform: rotateZ(180deg) rotateY(-28deg);
  }
  100% {
    transform: rotateZ(360deg) rotateY(-28deg);
  }
}
@-webkit-keyframes roating {
  0% {
    transform: rotateZ(0deg) rotateY(-28deg);
  }
  50% {
    transform: rotateZ(180deg) rotateY(-28deg);
  }
  100% {
    transform: rotateZ(360deg) rotateY(-28deg);
  }
}
@-o-keyframes roating {
  0% {
    transform: rotateZ(0deg) rotateY(-28deg);
  }
  50% {
    transform: rotateZ(180deg) rotateY(-28deg);
  }
  100% {
    transform: rotateZ(360deg) rotateY(-28deg);
  }
}
@keyframes roating {
  0% {
    transform: rotateZ(0deg) rotateY(-28deg);
  }
  50% {
    transform: rotateZ(180deg) rotateY(-28deg);
  }
  100% {
    transform: rotateZ(360deg) rotateY(-28deg);
  }
}
@-moz-keyframes undulate {
  0%, 50%, 100% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(-6px, -18px, 10px);
  }
  75% {
    transform: translate3d(6px, 10px, 0);
  }
}
@-webkit-keyframes undulate {
  0%, 50%, 100% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(-6px, -18px, 10px);
  }
  75% {
    transform: translate3d(6px, 10px, 0);
  }
}
@-o-keyframes undulate {
  0%, 50%, 100% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(-6px, -18px, 10px);
  }
  75% {
    transform: translate3d(6px, 10px, 0);
  }
}
@keyframes undulate {
  0%, 50%, 100% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(-6px, -18px, 10px);
  }
  75% {
    transform: translate3d(6px, 10px, 0);
  }
}
