*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    width: 100%;
}
.box{
    padding: 0 15px 0 15px;
}
.user-header{
    background-color: #48a6fd;
}
.weui-media-box__hd .img{
    height: 90px ;
    /* width: 90px ; */
    background-size: contain ;
    border-radius: 50%;
}
.weui-media-box__bd .name{
    position: absolute;
    margin-top: -14px;
}
.weui-media-box__bd .huiyuan{
    width: 70px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid #000;
    position: absolute;
    bottom: 20px;
}
/* .weui-media-box__bd .p1{
    position: absolute;
    margin-top: 15px;
} */
.weui-media-box__bd .p1{
    position: absolute; 
    text-align: center; 
}

.weui-media-box__bd .p2{
    float: left;
    position: absolute;
    right: 144px;
    bottom: 23px;
}
.weui-media-box__bd .auto{
    float: right;
}

.user-info{
    width: 90%;
    height: 90px;
    position: relative;
    left: 5%;
    border: 1px solid #000;
    margin-top: -10px;
    background-color: #ffffff;
    border-radius: 8px;
}
.user-info__balance{
    float: left;
    margin-left: 42px;
    margin-top: 20px;
    flex: 1;
    text-align: center;
    border-right: 1px solid #000;
    /* width: 10%; */
}
.user-info__candy{
    float: left;
    margin-left: 78px;
    margin-top: 20px;
    flex: 1;
    text-align: center;
    border-right: 1px solid #000;
    /* width: 10%; */
}
.user-info__coin{
    float: left;
    margin-left: 78px;
    margin-top: 20px;
    flex: 1;
    text-align: center;
    /* width: 10%; */
}
.user-info::after{
    content: '';
    clear: both;
}